/*********** Footer ************/
.full-width {
  max-width: 1300px;
}

.footer {
  background-color: #eee;
  padding: 2rem 4rem;
  text-align: center;
  color: #000;
}

.footer p {
  font-weight: 300;
  font-size: .8em;
  color: #000;
  margin-top: 10px;
}

.footer a {
    font-size: 1em;
    color: #000;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}

.footer-links {
  list-style-type: none;
}

.footer-links li {
  margin-top: .5em;
}
